/* start light theme */

html {
  height: 100%;
  color: white;
}

.light .insta{
  filter: brightness(0) saturate(100%) invert(16%) sepia(90%) saturate(1343%) hue-rotate(188deg) brightness(95%) contrast(97%);
}

.light .github{
  filter: brightness(0) saturate(100%) invert(16%) sepia(90%) saturate(1343%) hue-rotate(188deg) brightness(95%) contrast(97%);
}

.light {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#efefef, #ececec);
}
  
.light .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
}
  
@media (max-width: 365px){
  .light .login-box{
    width: 300px;
  }
}

.light .login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #063970;
  text-align: center;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-size: 30px
}
  
.light .login-box .user-box {
  position: relative;
}
  
.light .login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #063970;
  outline: none;
  background: transparent;
}

.light .login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #063970;
  pointer-events: none;
  transition: .5s;
}
  
.light .login-box .user-box input:focus ~ label,
.light .login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #063970;
  font-size: 12px;
}
  
.light .login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
    
}
  
.light .login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
  
.light .login-box a span {
  position: absolute;
  display: block;
}
  
.light .login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #063970);
  animation: btn-anim1 3s linear infinite;
}
  
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
  
.light .login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #063970);
  animation: btn-anim2 3s linear infinite;
  animation-delay: .25s
}
  
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
  
.light .login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #063970);
  animation: btn-anim3 3s linear infinite;
  animation-delay: .3s
}
  
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
  
.light .login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #063970);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
  
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
  
.light #enviar{
  background: none;
  border: none;
  color: #063970;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 17px
}
  
.light .linkteste{
  text-decoration: none;
  color: white;
}
  
.light .success{
  background-color: rgb(19, 134, 19);
}
  
.light .bad{
  background-color: red;
}

/*START OF SWTICH BUTTON THEME */

#switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  margin: 15px;
}
  
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}
  
#slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}
  
#sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
  
#moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
  
/* .switch:hover */#sun svg {
  animation: rotate 15s linear infinite;
}
  
@keyframes rotate {
   
  0% {
    transform: rotate(0);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
  
/* .switch:hover */#moon svg {
  animation: tilt 5s linear infinite;
}
  
@keyframes tilt {
   
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(-10deg);
  }
  
  75% {
    transform: rotate(10deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}
  
.input:checked + #slider {
  background-color: #183153;
}
  
.input:focus + #slider {
  box-shadow: 0 0 1px #183153;
}
  
.input:checked + #slider:before {
  transform: translateX(30px);
}